<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Editar un estudiante</h1>
    	<form method="post" th:action="@{/update}" th:object="${estudiante}">  
    		<input th:field = "*{codigoEstudiante}" id="codigoEstudiante" type="number" name="codigoEstudiante" hidden = true/>
	    	<label for="nombre">Nombre   </label>
		    <input th:field = "*{nombre}" id="nombre" type="text" placeholder="Ingresa el nombre" name="nombre" />
		    <span th:errors= "*{nombre}" style="color: #E81505"></span>
			<br>
			<br>
	        <label for="apellido">Apellido   </label>
		    <input th:field="*{apellido}" id="apellido" type="text" placeholder="Ingresa el apellido"  name="apellido" />
		    <span th:errors="*{apellido}" style="color: #E81505"></span>
			<br>
			<br>
	        <label for="edad">Edad (No menore a 18 annios):  </label>
		    <input th:field="*{edad}" id="edad" type="number" placeholder="Ingresa la edad"  name="edad" />
		    <span th:errors="*{edad}" style="color: #E81505"></span>
			<br>
			<br>
	        <label>Activo  </label>
		    <input th:field="*{estado}" type="radio" th:value = "${true}"/>
	        <label>Inactivo  </label>
		    <input th:field="*{estado}" type="radio" th:value = "${false}"/>
		        <br>
	            <br>
	        <input type="submit" value="Actualizar alumno">
	    </form>
</body>
</html>